In [ ]:
import numpy as np
from scipy import stats
rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100,random_state=rng)
sample2 = stats.norm.rvs(size=110,random_state=rng)
response = stats.ks_2samp(sample1,sample2)

In [ ]:
sample1

In [ ]:
sample2

In [ ]:
round(response.pvalue,2)

In [ ]:
round(response.pvalue,16)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/config/workspace/aps_failure_training_set1.csv")

In [ ]:
df.shape

In [ ]:
(df.isnull().sum()/df.shape[0]).values
#we will get % of null values in each column.Our criterion is that if it above 30% we will drop it

In [ ]:
(df.isnull().sum()/df.shape[0]).values.__len__()

In [ ]:
len((df.isnull().sum()/df.shape[0]).values)

In [ ]:
l1=['a','b','c','d']
l2=[1,2,3,4]
for l1_col,l2_col in zip(l1,l2):
    print(l1_col,l2_col)

In [ ]:
drop_column_names=[]
for column_name,missing_percentage in zip((df.isnull().sum()/df.shape[0]).index , (df.isnull().sum()/df.shape[0]).values):
    print(column_name,missing_percentage*100)
    if missing_percentage > 0.3:
        drop_column_names.append(column_name)

In [ ]:
#Alternate:
null_report=df.isna().sum()/df.shape[0]
print(null_report)

In [ ]:
null_report[null_report>.3].index

In [25]:
df = pd.read_csv("/config/workspace/aps_failure_training_set1.csv")

In [39]:
df.iloc[:,[0]].drop("class",axis=1).columns

Index([], dtype='object')

In [29]:
df

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,153204,0,182,na,0,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
1,pos,453236,na,2926,na,0,0,0,0,222,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
2,pos,72504,na,1594,1052,0,0,0,244,178226,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
3,pos,762958,na,na,na,na,na,776,281128,2186308,...,na,na,na,na,na,na,na,na,na,na
4,pos,695994,na,na,na,na,na,0,0,0,...,1397742,495544,361646,28610,5130,212,0,0,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36183,neg,153002,na,664,186,0,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
36184,neg,2286,na,2130706538,224,0,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
36185,neg,112,0,2130706432,18,0,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
36186,neg,80292,na,2130706432,494,0,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
36187,neg,40222,na,698,628,0,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0